[submodule "docs"]
	path = docs
	url = http://github.com/ryankung/stack-doc
[submodule "stack"]
	path = stack
	url = http://github.com/ryankung/stack-cli
[submodule "scaffold"]
    path = scaffold
    url = http://github.com/ryankung/scaffold
[submodule "requirepy"]
    path = require
    url = http://github.com/ryankung/requirepy
